In [2]:
import pandas as pd 
import numpy as np

In [5]:
df=pd.read_csv('data.csv')

In [6]:
df

,Unnamed: 0,ID Astéroïde,Nom Astéroïde,Diamètre Minimal Estimé (km),Magnitude Absolue,Vitesse Relative (km/s)
0,0,2313552,313552 (2003 BX33),0.170042,20.970,12.484199
1,1,2382825,382825 (2003 XB22),0.366906,19.300,16.300710
2,2,2385843,385843 (2006 JY25),0.211132,20.500,16.595284
3,3,3585731,(2011 VH5),0.135692,21.460,25.433864
4,4,3607683,(2012 PO28),0.099210,22.140,0.988329
5,5,54102501,(2020 YC4),0.029550,24.770,12.586297
6,6,54395898,(2023 UY),0.002707,29.960,10.287588
7,7,54429991,(2024 EV1),0.080270,22.600,7.210290
8,8,54441682,(2024 JX12),0.084131,22.498,12.347482
9,9,54444914,(2024 KJ),0.018389,25.800,4.512592
10,10,54445625,(2024 LY),0.132603,21.510,11.001728
11,11,54447956,(2024 LO5),0.014947,26.250,7.935041